<article class="blog" data-page="blog">
  <header>
    <h2 class="h2 article-title">Blogs</h2>
  </header>

  <section class="blog-posts">
    <ul class="blog-posts-list">
      {% for post in blogs %}
        <li class="blog-post-item">
          <a href="{{ post.url }}" target="_blank" rel="noopener noreferrer">
            <figure class="blog-banner-box">
              <img src="{{ post.image.src }}" alt="{{ post.image.alt }}" loading="lazy">
            </figure>
            <div class="blog-content">
              <div class="blog-meta">
                <p class="blog-category">{{ post.category }}</p>
                <span class="dot"></span>
                <time datetime="{{ post.date.datetime }}">{{ post.date.label }}</time>
              </div>
              <h3 class="h3 blog-item-title">{{ post.title }}</h3>
              <p class="blog-text">{{ post.summary }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</article>
